body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/images/gardening_background.jpg") ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display:flex;
 
  flex-wrap:nowrap;
  
  justify-content: space-around;
  font-size: 2.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color:rgb(255, 255, 255);
  border-radius:10px;
  margin:20px;
}

.navbar_link{
  text-decoration:none;
  color:rgb(70, 122, 88);
  margin:10px;
  padding:5px;
}
 